<div class="alert alert-info" role="alert" ng-show="showAlert" ng-click="onAlertClick()">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Alarm:</span>
  Add {{nextAdditionAmount}} of {{nextAddition}}
</div>

<form novalidate class="form-horizontal">
  <fieldset>
    <legend>
      BrewTimer <i class="icon ion-ios-pint-outline"></i>
    </legend>
    <!--TODO: add labels-->
    <div class="form-group" ng-repeat="brewAddition in brewAdditions">
      <div class="col-md-2">
        <input ng-model="brewAddition.mins" class="form-control" type="number" name="timeInput"
          value="{{brewAddition.mins}}" min="0" max="60">
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input ng-model="brewAddition.amount" id="textInput" name=ingredientAmountInput"
            type="number" step="any" class="form-control">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false">{{brewAddition.unit}}<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a ng-click="brewAddition.unit = 'g'">g</a></li>
              <li><a ng-click="brewAddition.unit = 'lb'">lb</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
      <div class="col-md-7">
        <input ng-model="brewAddition.ingredient" id="textinput" name="ingredientInput"
          type="text" class="form-control input-md" placeholder="Add an ingredient...">
      </div>
    </div>
  </fieldset>
</form>

<button id="addAddition" type="button" ng-click="addBrewAddition()"
    class="btn btn-default pull-right">
  <i class="icon ion-plus-round"></i>
</button>

<br>

<button type="button" ng-click="onTimerButtonClick()" class="btn"
    ng-class="timerRunning ? 'btn-primary' : 'btn-primary'">
  {{timerRunning ? 'Pause' : 'Start'}}
</button>

<timer autostart="false" countdown="3600" max-time-unit="'minute'" interval="1000">
  {{mminutes}}:{{sseconds}}
</timer>
