<a href="https://github.com/brk3/brewtimer" class="ribbon bg-navy hidden-xs">Fork me on GitHub</a>

<div class="alert alert-info" role="alert" ng-show="showAlert" ng-click="onAlertClick()">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Alarm:</span>
  <b>Add {{nextAddition.amount}}{{nextAddition.unit}} of {{nextAddition.ingredient}}</b>
  <i class="pull-right">(Click to dismiss)</i>
</div>

<form novalidate name="additionForm" class="form-horizontal">
  <fieldset>
    <legend>
      BrewTimer <i class="icon ion-ios-pint-outline"></i>
    </legend>
    <div class="form-group" ng-repeat="brewAddition in brewAdditions">
      <div class="col-xs-3 reducePadding">
        <input ng-model="brewAddition.mins" class="form-control" type="number" name="timeInput"
          value="{{brewAddition.mins}}" min="0" max="60" required>
      </div>
      <div class="col-xs-4 reducePadding">
        <div class="input-group">
          <input ng-model="brewAddition.amount" id="textInput" name=ingredientAmountInput"
            type="number" step="any" class="form-control" required>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false">{{brewAddition.unit}}<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a ng-click="brewAddition.unit = 'g'">g</a></li>
              <li><a ng-click="brewAddition.unit = 'lb'">lb</a></li>
              <li><a ng-click="brewAddition.unit = 'tsp'">tsp</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
      <div class="col-xs-5 reducePadding">
        <input ng-model="brewAddition.ingredient" id="textinput" name="ingredientInput"
          type="text" class="form-control"
          placeholder="Add an ingredient..." required>
      </div>
    </div>
  </fieldset>
</form>

<button id="addAddition" type="button" ng-click="addBrewAddition()"
    class="btn btn-sm btn-default pull-right">
  <i class="icon ion-plus-round"></i>
</button>
<button id="removeAddition" type="button" ng-click="removeBrewAddition()"
    class="btn btn-sm btn-default pull-right">
  <i class="icon ion-minus-round"></i>
</button>

<br><br>

<div class="row">
  <timer autostart="false" countdown="3600" max-time-unit="'minute'" interval="1000"
      class="col-xs-3 col-xs-offset-4 col-md-offset-5">
    {{mminutes}}:{{sseconds}}
  </timer>
  <button type="button" ng-click="onTimerButtonClick()" class="btn col-md-4 col-md-offset-4
      col-xs-8 col-xs-offset-2" ng-class="timerRunning ? 'btn-primary' : 'btn-primary'"
      ng-disabled="additionForm.$invalid || (brewAdditions.length == 0)">
    {{timerButtonText}}
  </button>
</div>

<div class="footer pull-right">
  <small>BrewTimer v0.1, by <a href="https://twitter.com/brk3">@brk3</a></small>
</div>
