<form novalidate class="form-horizontal">
  <fieldset>
    <legend>
      BrewTimer <i class="icon ion-ios-pint-outline"></i>
    </legend>
    <!--TODO: add labels-->
    <div class="form-group" ng-repeat="brewAddition in brewAdditions">
      <div class="col-md-2">
        <input ng-model="brewAddition.mins" class="form-control" type="number" name="timeInput"
          value="{{brewAddition.mins}}" min="0" max="60">
      </div>
      <div class="col-md-2">
        <input ng-model="brewAddition.amount" id="textinput" name="ingredientAmountInput"
          type="number" step="any" class="form-control input-md">
      </div>
      <div class="col-md-6">
        <input ng-model="brewAddition.ingredient" id="textinput" name="ingredientInput"
          type="text" class="form-control input-md" placeholder="Add an ingredient...">
      </div>
    </div>
  </fieldset>
</form>

<button type="button" ng-click="addBrewAddition()" class="btn btn-default">
  <i class="icon ion-plus-round"></i>
</button>

<br>

<timer autostart="false" countdown="3600" max-time-unit="'minute'" interval="1000">
  {{mminutes}}:{{sseconds}}
</timer></br>

<button type="button" ng-click="onTimerButtonClick()" class="btn"
    ng-class="timerRunning ? 'btn-primary' : 'btn-primary'">
  {{timerRunning ? 'Pause' : 'Start'}}
</button>
